.search-form {
  display: flex;
  justify-content: center;
  background-color: blue;
  padding: 8px;
  margin-bottom: 24px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
